
.my_posts {
    color: #22ad2c;
    background-color: #ec3110;
    width: 555px;
}
.my_param {
    color: #b9457b;
    background-color: #ec3110
}
.my_posts img {
    width: 55px;
    border-color: #140886;
    border-radius: 56px;
}