
.profile {
    grid-area: area_Profile;
    background-color: rgb(217, 102, 84);
    color: #d7b6c5;

}
.my_parametr {
    color: #3e8a44;
    background-color: #861b08;
}
.my_par {
    color: #ff0073;
    background-color: #450d81;
}