.nav {
    grid-area: area_Nav;
    background-color: rgb(184, 183, 192);

}

.my_parametr {
    color: #ff2f00;

}

.nav .my_parametr {
    color: #0066ff;
}


.my_parametr .activeLinc {
    color: #5dd01c;

}